# RStudio files
.Rproj.user
.Rhistory
.Rdata
.Ruserdata
.RData
.httr-oauth
.DS_Store
.quarto

# Carpetas de datos y resultados
test/
#test/analysis
#test/candidate_genes
#test/features_selection
#test/manuscript_figures_tables
#test/plots/
#test/results_candidate/
#test/raw_data/eset.Rda
#test/raw_data/expression.Rda
#test/raw_data/phenotypic.Rda
#test/raw_data/GTEx_Analysis_v10_RNASeQCv2.4.2_gene_median_tpm.gct.gz

omnipathr-log/
Slurm/
docs/

# Extensiones de archivos binarios pesados
*.Rda
*.rds
*.gct.gz
*.pdf
*.csv

# Binarios
.mrmr
