# RStudio files
.Rproj.user
.Rhistory
.Rdata
.Ruserdata
.RData
.httr-oauth
.DS_Store
.quarto

# Carpetas de datos y resultados
test/
omnipathr-log/
Slurm/
docs/

# Extensiones de archivos binarios pesados
*.Rda
*.rds
*.gct.gz
*.pdf
*.csv

# Binarios
.mrmr
